<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Test App</h2>
        <h2>Home</h2>
        <h2><a href="/show_sign_in"> Sign in</a></h2>
    </div>

    <div>
        <h1>Welcome to the Test</h1>
        <h3>We are going to build a cool application using a MVC framework.! This application was built with the village88 folks! </h3>
        <h2><a href="/show_sign_in">Sign in</a></h2>
    </div>

    <div>
        <div>
            <h3>Manage Users</h3>
            <h3>Using this application, you will learn how to add, remove and edit users for your application</h3>
        </div>

        <div>
            <h3>Manage Users</h3>
            <h3>Using this application, you will learn how to add, remove and edit users for your application</h3>
        </div>

        <div>
            <h3>Manage Users</h3>
            <h3>Using this application, you will learn how to add, remove and edit users for your application</h3>
        </div>
    </div>

    <div>
        {% for user in users %}
        <li>{{ user.first_name }} {{ user.last_name }}</li>
        {% endfor %}
    </div>
</body>
</html>